// variables for reuse

$button-text-color: #05051b;
$button-hover-color: #077f7f;
$button-inactive: #05051b;
$button-active: #131313;
$white-color: #fff;
$linkedin-button-background: #0077b5;
$google-button-background: #4285f4;
$light-gray: #e3e6ea;
$light-text-color: #6b7b8a;
$body-text-color: #0a243f;
$body-background-color: #fff;
$input-background: #fafafa;
$input-border: #e3e6ea;
$error-text: #da3d2a;

// variables to replace the normal bootstrap values
$dark: #131313;
$light: #05051b;
$muted: #6b7b8a;
