// Font family (change if required to , also note the file to be downloaded : https://font.gooova.com/fonts/14294/circular-std-font-family.html)

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-Book.otf');
  src: local('Circular Book'),
    url('./fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-BookItalic.otf');
  src: local('Circular Book Italic'),
    url('./fonts/CircularStd-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-Medium.otf');
  src: local('Circular Medium'),
    url('./fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-MediumItalic.otf');
  src: local('Circular Medium Italic'),
    url('./fonts/CircularStd-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-Bold.otf');
  src: local('Circular Bold'),
    url('./fonts/CircularStd-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-BoldItalic.otf');
  src: local('Circular Bold Italic'),
    url('./fonts/CircularStd-BoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-Black.otf');
  src: local('Circular Black'),
    url('./fonts/CircularStd-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/CircularStd-BlackItalic.otf');
  src: local('Circular Black Italic'),
    url('./fonts/CircularStd-BlackItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

// variables to replace the normal bootstrap values

$dark: #131313;
$spacer: 1rem; // 16px
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  2_5: (
    $spacer * 0.75,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 2,
  ),
  6: (
    $spacer * 2.5,
  ),
  7: (
    $spacer * 3,
  ),
  8: (
    $spacer * 5,
  ),
);
$utilities: (
  'width': (
    property: width,
    class: w,
    values: (
      25: 25%,
      30: 30%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
);

// use when required
// $font-size-base:              1rem; // Assumes the browser default, typically `16px`
// $font-size-sm:                $font-size-base * .875;
// $font-size-lg:                $font-size-base * 1.25;
// $font-size-link: 18px;

// $font-weight-lighter:         lighter;
// $font-weight-light:           300;
// $font-weight-normal:          400;
// $font-weight-semibold:        600;
// $font-weight-bold:            700;
// $font-weight-bolder:          bolder;

// $font-weight-base:            $font-weight-normal;

// $line-height-base:            1.5;
// $line-height-sm:              1.25;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables for reuse
$font-family: 'Circular';
$body-text-color: #0a243f;
$body-background-color: #fff;
$normal-font-size: 1rem;
$body-font-size: 18px;
$small-font-size: 0.875rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;
$button-text-color: #05051b;
$button-hover-color: #077f7f;
$white-color: #fff;
$linkedin-button-background: #0077b5;
$google-button-background: #4285f4;
$light-gray: #e3e6ea;
$light-text-color: #6b7b8a;

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $font-family;
  font-size: $normal-font-size;
}

body {
  background-color: $body-background-color;
  color: $body-text-color;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: $body-font-size;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
.button-tag {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Main styles and reusable classes

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 5%);
  padding-left: 2rem;
  padding-right: 2rem;
  height: 70px;
}

.btn-primary {
  background-color: #fff;
  color: $button-text-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

// handling active states
.btn:first-child:active {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}
.btn:active {
  background-color: $button-hover-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-hover-color;
  border-radius: 8px;
  box-shadow: 0 6px 50px -8px rgb(5 5 27 / 30%);
}

.btn-secondary {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: $button-hover-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-hover-color;
  border-radius: 8px;
  box-shadow: 0 6px 50px -8px rgb(5 5 27 / 30%);
}

.login-buttons {
  border: none;
  border-radius: 8px;
  color: $white-color;
  width: 100%;
  height: 60px;
}
.login-buttons:hover {
  border: none;
  border-radius: 8px;
  color: $white-color;
  width: 100%;
  height: 60px;
}

// custom
.login-page {
  .btn:active {
    border: none;
    border-radius: 8px;
    color: $white-color;
    background-color: $linkedin-button-background;
    width: 100%;
    height: 60px;
  }
  .btn:first-child:active {
    border: none;
    border-radius: 8px;
    color: $white-color;
    background-color: $google-button-background;
    width: 100%;
    height: 60px;
  }
  .google-button {
    background-color: $google-button-background;
  }
  .linkedin-button {
    background-color: $linkedin-button-background;
  }
}

.or-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-gray;
}
.or-line::before {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  display: block;
  background-color: $light-gray;
}
.or-text {
  z-index: 1;
  background-color: $white-color;
  color: $light-text-color;
}

// screens

@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}
