@import './font.scss';
@import './colors.scss';
@import './variables.scss';
@import './sidedrawer.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-1: #384853;
  --grey-2: #6b7b8a;
  --grey-3: #e3e6ea;
  --grey-5: #f1f2f4;
  --teal: #077f7f;
  --black: #131313;
  --grad-2: linear-gradient(102.73deg, #f1087e -1.51%, #fc945f 131.82%);
  --grad-3: linear-gradient(99.87deg, #0b0d60 -10.92%, #115962 107.49%);
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $font-family;
  font-size: $normal-font-size;
}

body {
  background-color: $body-background-color;
  color: $body-text-color;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: $body-font-size;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
.button-tag {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Main styles and reusable classes

.home-wrapper {
  max-width: 1180px;
  padding: 9rem 15px;
  margin-left: auto;
  margin-right: auto;
}

.common-wrapper {
  margin-top: 10px;
  // flex: 1 1 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 5%);
  padding-left: 2rem;
  padding-right: 2rem;
  height: 70px;
  background-color: $body-background-color;
}

// transition is the same for all buttons
.btn {
  transition: all 0.25s ease-in-out;
}
.btn-primary {
  background-color: #fff;
  color: $button-text-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

// handling active states
.btn:first-child:active {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}
.btn:active {
  background-color: $button-hover-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-hover-color;
  border-radius: 8px;
  box-shadow: 0 6px 50px -8px rgb(5 5 27 / 30%);
}

.btn-secondary {
  background-color: $button-text-color;
  color: #fff;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-text-color;
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: $button-hover-color;
  font-size: $normal-font-size;
  height: 45px;
  border: 1px solid $button-hover-color;
  border-radius: 8px;
  box-shadow: 0 6px 50px -8px rgb(5 5 27 / 30%);
}

.login-buttons {
  border: none;
  border-radius: 8px;
  color: $white-color;
  width: 100%;
  height: 60px;
}
.login-buttons:hover {
  border: none;
  border-radius: 8px;
  color: $white-color;
  width: 100%;
  height: 60px;
}

// custom
.login-page {
  .btn:active {
    border: none;
    border-radius: 8px;
    color: $white-color;
    background-color: $linkedin-button-background;
    width: 100%;
    height: 60px;
  }
  .btn:first-child:active {
    border: none;
    border-radius: 8px;
    color: $white-color;
    background-color: $google-button-background;
    width: 100%;
    height: 60px;
  }
  .google-button {
    background-color: $google-button-background;
  }
  .linkedin-button {
    background-color: $linkedin-button-background;
  }
  .submit-inactive {
    cursor: default;
    background-color: $button-inactive;
    pointer-events: auto;
  }
  .submit-inactive:hover {
    cursor: default;
    background-color: $button-hover-color;
  }
  .submit-active {
    cursor: default;
    background-color: $button-active;
  }
  .submit-active:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
  a {
    color: $button-text-color;
  }
  .login-wrapper {
    width: 25rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.or-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-gray;
}
.or-line::before {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  display: block;
  background-color: $light-gray;
}
.or-text {
  z-index: 1;
  background-color: $white-color;
  color: $light-text-color;
}

.validation-error-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
  color: $error-text;
  line-height: 1.5rem;
}
.input-field {
  background-color: $input-background;
  border: 1px solid $input-border;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  padding-left: 10px;
}
.menu {
  display: flex;
}
.menu-dropdown {
  display: none;
}

// for tabs

.nav-tabs {
  border: none;
}
#uncontrolled-tab-example-tabpane-Mentor {
  margin-left: 20px;
  opacity: 1;
}
#uncontrolled-tab-example-tabpane-Mentee {
  opacity: 1;
}
.tabs {
  .nav-item {
    border-bottom: 1px var(--grey-5) solid;
  }
  .nav-link {
    border: none;
    color: var(--grey-1);
    font-size: 16px;
  }
  .nav-link[aria-selected='true'] {
    border-bottom: 3px $button-hover-color solid;
    color: var(--grey-1);
    font-size: 16px;
  }
}

.mentee-content {
  max-width: 640px;
  margin-bottom: 3rem;
  .mentee-title {
    font-size: 44px;
    line-height: 3rem;
    font-weight: 700;
  }
  .mentee-subtitle {
    font-size: 22px;
    max-width: 530px;
    line-height: 1.875rem;
    font-weight: 400;
  }
}

.search-wrapper {
  max-width: 900px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 16px;
  box-shadow: rgb(142 151 158 / 15%) 0px 4px 19px;
  border: solid 1px var(--grey-5);
}
.search-bar {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: minmax(0px, 1fr) 170px 112px;
  align-items: center;
}
.search {
}
.hobby-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.tertiary {
  background: var(--grad-2);
  height: 60px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 6px 32px;
}
.tertiary:hover {
  background: var(--grad-2);
  height: 60px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 6px 32px;
}
.search-input {
  width: 90%;
  outline: none;
  border: none;
  -webkit-appearance: none;
  font-size: 16px;
  padding: 0 20px;
  line-height: 24px;
}

// screens

@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .menu-dropdown {
    display: block;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .login-page {
    .login-wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
}
